@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital@1");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(240, 227, 202);
}
body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0);
}
body::-webkit-scrollbar-thumb {
  background-color: #fac043;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.3) 20%,
    transparent 20%,
    transparent 40%,
    rgba(255, 255, 255, 0.3) 40%,
    rgba(255, 255, 255, 0.3) 60%,
    transparent 60%,
    transparent 80%,
    rgba(255, 255, 255, 0.3) 80%
  );
}

#root {
  width: 100%;
}

body {
  width: 100%;
}
